@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}

h1{
    text-transform: uppercase;
    font-size: 48px;
    line-height: 0;
    line-height: 1.5;
}

h2{
    margin-top: 2em;
    line-height: 1;
    font-size: 32px;
}

#container{

    margin: 1em auto;
    width: 75%;
    min-width: 450px;
    border: 15px solid red;
    background-color: tomato;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
}

.introSlide{
    text-align: center;
    margin: 2em auto;
    width: 90%;
    border: 10px solid maroon;
    border-radius: 5px;
    background-color: black ;
    line-height: 1.5;
    color: white;
    overflow: hidden;
}

.introSlideTitle{
    font-size: 5vw;

    padding: 1em ;
    text-align: center;
    text-transform: uppercase;
}

.slide{
    text-align: center;
    margin: 2em auto;
    width: 90%;
    border: 10px solid black;
    border-radius: 5px;
    background-color: #191919 ;
    line-height: 1.5;
    color: white;
    overflow: hidden;
}

.slideHeading{

    font-size: 24px;
    border: 2px solid white;
    padding: 1em ;
    outline: none;
}

.content{
    font-size: 18px;
    text-align: left;
    border: 2px solid white;
    outline: none;
}

.settings{
    border: 2px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.deleteButton{

    width: 75px;
    height: 50px;

    margin: 1em;

    text-align: center;
    font-weight: bolder;
    font-size: 1em;

    background: none;
    border: 3px solid red;
    color: red;

    cursor: pointer;
    outline: none;
    transition:  0.25s linear;


}

.deleteButton:hover{
    color: white;
    background-color: red;

}

.editButton{

    width: 75px;
    height: 50px;

    margin: 1em;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    font-weight: bold;

    background: none;
    border: 3px solid #2ecc71;
    color: #2ecc71;

    cursor: pointer;
    outline: none;
    transition:  0.25s linear;

}

.editButton:hover{
    color: white;
    background: #2ecc71;
}

.addButton{

    width: 50%;
    height: 50px;



    outline: none;
    background: none;
    cursor: pointer;
    margin: auto;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: grey;
    border: 5px solid #00ffff;
    border-radius: 15px;
    background-color: #121212;
    transition: 0.25s;
}

.addButton:hover{
    color: white;
}

#download img{
    margin: 1em auto 3em auto;
    width: 200px;
    opacity: 50%;
    transition: 0.5s;
}

#download img:hover{
    opacity: 100%;

}