body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121212;
    color: white;
    text-align: center;
}

h1{
    text-transform: uppercase;
    font-size: 48px;
    line-height: 0;
    line-height: 1.5;
}

#container{

    margin: 1em auto;
    width: 75%;
    min-width: 450px;
    border: 15px solid red;
    background-color: tomato;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.slide{
    text-align: center;
    margin: 2em auto;
    width: 90%;
    border: 10px solid black;
    border-radius: 5px;
    background-color: #191919 ;
    /*
    display: flex;
    flex-direction: column;
    */
    line-height: 1.5;
    color: white;
    overflow: hidden;
}

.slideHeading{

    font-size: 24px;
    border: 2px solid white;

}

.content{
    font-size: 18px;
    text-align: left;
    border: 2px solid white;
}